@model IEnumerable<Team>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Index" asp-controller="Home" asp-route-team="">Home</a>
    </li>
    @foreach (var x in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Index" asp-controller="Home"
            asp-route-teamid=@x.TeamId
            asp-route-team=@x.TeamName>@x.TeamName</a>
        </li>
        
    }
</ul>