@model IEnumerable<Team>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.SelectedTeam == null ? "text-primary" : "text-dark")" asp-action="Index" asp-controller="Home" asp-route-team="">Home</a>
    </li>
    @foreach (var x in Model)
    {
    <li class="nav-item">
        <a class="nav-link @(x.TeamName == ViewBag.SelectedTeam ? "text-primary" : "text-dark")" asp-action="Index" asp-controller="Home"
        asp-route-teamid=@x.TeamId
        asp-route-team=@x.TeamName>@x.TeamName</a>
    </li>
        
    }
